<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Recite Example</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Done</button>
  </ion-header-bar>

  <ion-content class="recite-example">
    <div class="list list-inset title">
      <div class="item item-text-wrap"><h2>Jesus</h2></div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        Now when I mention Jesus, what comes to mind, who do you think He is? Yes, Jesus is the Son of God and in addition he is also God the Son. The Bible says, “In the beginning was the Word, and the Word was with God, and the Word was God… and the Word became flesh and lived with us.” What Jesus did is He came to earth, died on the cross to pay for our sins and rose again to purchase a place for us in heaven. You see the Bible tells us that our sin separates us from God. It says “All we like sheep have gone astray; we have turned, every one, to his own way; and the LORD has laid on Him the iniquity of us all.”
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        Remember I told you this book of sin was sitting at the throne of God waiting for judgment day? And I told you that it has my birth certificate, the day I die and written on every page is every sin I ever committed both in thought and in word and in deed? The Bible tells us that when Jesus went to the cross He took this book written against me and, the Bible says, that He nailed it to His own cross. Jesus has paid the price for our sins by the cross, and purchased a place for us in heaven and offers it to us as a free gift. This gift must be received by faith...
      </div>
    </div>
    <br />
  </ion-content>
</ion-modal-view>