<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Recite Example</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Done</button>
  </ion-header-bar>

  <ion-content class="recite-example">
    <div class="list list-inset title">
      <div class="item item-text-wrap"><h2>God</h2></div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        Let’s look at what the Bible tells us about God. The Bible tells us that God is merciful and He doesn’t want to punish us. One of the simplest verses in the Bible tells us that God is also just and must punish sin. The Bible says, “God will by no means clear the guilty.” Let me illustrate this. Imagine I were to rob a bank, and I’m a lousy bank robber. They get pictures of me, I leave my fingerprints everywhere. When I run out of the bank they’ve set the alarm off and there are police everywhere. I put the money down, they take me off to jail and then bring me before the court. Now when I stand before the judge I tell the judge, “Hey I’m basically a nice guy, I don’t do this sort of thing all the time. Please let me go.” Now if this was a good and just judge, would he let me go free? Well of course he wouldn’t.
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        Let’s suppose now that the same thing happened except that it happened in a very small town, and it turns out that the judge I stand in front of is my own father. And my father loves me very much. Now when I said to him, “please let me go”, if he was a just and good judge would he let me go free? Of course not.
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        So you see God who loves us very much and does not want to punish us is the same God who is just and must punish sin. God solves this problem through Jesus Christ…
      </div>
    </div>
    <br />
  </ion-content>
</ion-modal-view>