<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-primary" ng-click="modal.hide()"><i class="ion-close-round recite-close-btn"></i></button>
    <h1 class="title">Recite Example</h1>
  </ion-header-bar>

  <ion-content class="recite-example">
    <div class="list list-inset title">
      <div class="item item-text-wrap"><h2>Man</h2></div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        Let's look at why heaven must be a free gift. First of all the Bible tells us that man is a sinner. The Bible says, "all have sinned and fall short of the glory of God". How would you define sin? ... that's right, and now only is it the things that we do but also the things that we are supposed to do but we don't do, and as a matter of fact even our thoughts. Our very words, our thoughts can be sin so I want you to consider this: Suppose a person sinned only three times a day. This would be a very good person, wouldn't it? Only 3 sins in action, word, thought, anything. But even if he were this good, 3 sins a day would be over 1,000 a year! That would be 60 or 70 thousand in a lifetime. Think what would happen if you were to stand before a traffic court with 70,000 tickets!
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        The Bible tells us of a book that is written about each of our lives. Imagine that the first page is my birth certificate, the last page is my death certificate and on every page in between is everything I've ever done wrong, every single thought, every action, every inaction, all written down, all the way up until today and on into the future. This book is sitting at the throne of God, the Bible tells us, waiting for judgment day. 
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        What do you think the requirements are to get into heaven? The Bible tells us that even one sin is too many. Jesus himself said "Be perfect even as your father in heaven is perfect". You see perfection is the requirement. Let me illustrate: Suppose you had a glass of water sitting here on the ground, ice cold and crystal clear. Suppose a dog were to walk by and take a lick from your glass and you were to look down just in time to see a drip of slobber fall from the dog's tongue into the water. Would you drink the water? That is what sin in our life looks like to God. Do you see now that when I asked you why God should let you into heaven and you said, "Because I try to keep the commandments" that this can never get you into heaven?
      </div>
    </div>
    <br />
  </ion-content>
</ion-modal-view>