<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Recite Example</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Done</button>
  </ion-header-bar>

  <ion-content class="recite-example">
    <div class="list list-inset title">
      <div class="item item-text-wrap"><h2>Grace</h2></div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        First we go through a basic introduction and come to a place where we can say, "may I ask you a question?" If the person says yes, we ask them the first Diagnostic question and then we tell them that the Bible says it was written so that they can know they have eternal life. Then we ask "may I share with you how I came to a place where I know for sure I'm going to heaven when I die?" If they give us permission we say, "before I do I'd like to ask you another question. If you were to die today and stand before God..." and then we repeat and confirm their answer and tell them, "I have great news for you, and that is that heaven is a free gift and cannot be earned or deserved. 
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        As a matter of fact the Bible tells us that "the gift of God is eternal life". The Bible says, "you are saved by grace, through faith, and that not of yourself, it is the gift of God, not of works, so that no one can boast." Imagine your (parents) were to buy you a brand new car as a gift and hand you the keys. If you handed them a $5 bill to help pay for the car, would it still be a free gift? No, in fact it would be kind of insulting to even offer $5 for such a gift. It's the same with God offering us heaven as a free gift; it must be free because of the nature of man...
      </div>
    </div>
    <br />
  </ion-content>
</ion-modal-view>