<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Recite Example</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Done</button>
  </ion-header-bar>

  <ion-content class="recite-example">
    <div class="list list-inset title">
      <div class="item item-text-wrap"><h2>Faith</h2></div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        Saving faith is the key to heaven. Just as I have several keys here, there are several kinds of faith but just as only one of these keys will open the door to my house, there is only one kind of faith that will open the door to heaven. So saving faith can perhaps best be described by what it is not: it is not intellectual faith or head knowledge, like just knowing who George Washington was. You know who he was but you’re not trusting in him for anything, are you?
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-text-wrap">
        It is also not temporal or temporary faith of this world, like 9-1-1 faith that we have when we fly in an airplane. As soon as we land we no longer have that faith, it is temporary. God wants us to have faith like this, but it is not saving faith. Saving faith is trusting in Jesus and Him alone for our salvation. I can tell you I trust in this chair to hold me up, but what do I have to do to prove to you that I truly trust that chair to hold me up? Yes, I must actually sit in it. The same is true for saving faith; we must fully transfer our trust in what we can do to what Jesus has already done for us when He paid for our sins on the cross.
      </div>
    </div>
    <br />
  </ion-content>
</ion-modal-view>