<div class="list list-inset">
  <div class="item item-divider">
    1. Who is Jesus?
  </div>
  <div class="item item-text-wrap">
    Infinite God-Man
  </div>
  <div class="item item-text-wrap">
    In the beginning was the Word, and the Word was with God, and the Word was God...And the Word became flesh and dwelt among us. (John 1:1,14 NKJV)
  </div>
  <div class="item item-text-wrap">
    And Thomas answered and said to Him, "My Lord and my God!" (John 20:28 NKJV)
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    2. What He did
  </div>
  <div class="item item-text-wrap">
    Died and paid for our sin, and rose and purchased Heaven
  </div>
  <div class="item item-text-wrap">
    Sin separates us from God: <br /><br />
    All we like sheep have gone astray; we have turned, every one, to his own way; and the LORD has laid on Him the iniquity of us all. (Isaiah 53:6 NKJV)
  </div>
    <div class="item item-divider item-text-wrap">
    Illustration: book of sin nailed to the cross (Tetelestai)
  </div>
  <div class="item item-text-wrap">
    
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    Transition
  </div>
  <div class="item item-text-wrap">
    This gift is received by faith...
  </div>
</div>

<div class="recite-btn">
  <button class="button button-positive button-outline button-block icon-left ion-ios7-paper-outline col col-50 col-offset-25" ng-click="modal.show()">
    Recite Example
  </button>
</div>