<div class="list list-inset">
  <div class="item item-divider">
    1. Is a sinner
  </div>
  <div class="item item-text-wrap">
    For all have sinned and fall short of the glory of God. (Romans 3:23 NKJV)
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    Define sin
  </div>
  <div class="item item-text-wrap">
    what we do, what we don't do and what we think
  </div>
  <div class="item item-divider">
    Illustration: 3 sins a day
  </div>
  <div class="item item-text-wrap">
  </div>
  <div class="item item-divider">
    Illustration: book of sin
  </div>
  <div class="item item-text-wrap">
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    2. Cannot save himself
  </div>
  <div class="item item-text-wrap">
    ...you shall be perfect, just as your Father in Heaven is perfect. (Matthew 5:48 NKJV)
  </div>
  <div class="item item-divider">
    Illustration: poison in water
  </div>
  <div class="item item-text-wrap">
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    Question
  </div>
  <div class="item item-text-wrap">
    Do you see why your answer will not get you into Heaven?
  </div>
  <div class="item item-divider">
    Transition
  </div>
  <div class="item item-text-wrap">
    Let us look at what the Bible has to say about God...
  </div>
</div>

<div class="button-bar padding">
  <button class="button button-full button-stable" ng-click="modal.show()">
    Recite Example
  </button>
</div>