<div class="list list-inset">
  <div class="item item-divider">
    Saving faith is the key to heaven
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    1. What saving faith is not
  </div>
  <div class="item item-text-wrap">
    – intellectual faith or head knowledge
  </div>
  <div class="item item-text-wrap">
    You believe that there is one God. You do well. Even the demons believe – and tremble! (James 2:19 NKJV)
  </div>
  <div class="item item-text-wrap">
    – temporal faith (like flying in an airplane)
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    2. What saving faith is
  </div>
  <div class="item item-text-wrap">
    – trusting Jesus alone
  </div>
  <div class="item item-text-wrap">
    Believe on the Lord Jesus Christ, and you will be saved, you and your household. (Acts 16:31 NKJV)
  </div>
  <div class="item item-divider">
    Illustration: the chair
  </div>
  <div class="item item-text-wrap">
    
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    Commitment
  </div>
  <div class="item item-text-wrap">
    A. Qualifying Question: Does this make sense to you?
  </div>
  <div class="item item-text-wrap">
    B. Commitment Question: Would you like to receive the free gift of eternal life?
  </div>
  <div class="item item-text-wrap">
    C. Clarification of Commitment <br /><br />
    1. Transfer trust <br />
    2. Receive as Savior <br />
    3. Receive as Lord <br />
    4. Repent <br />
    </ol>
  </div>
  <div class="item item-text-wrap">
    D. Prayer of Commitment
  </div>
  <div class="item item-text-wrap">
    E. Assurance of Salvation <br /><br />
    1. Have them read John 6:47<br />
    2. Welcome to the family of God<br />
    3. Assurance question (Q1)<br />
    4. God's "Why" (Q2)<br />
    </ol>
  </div>
</div>

<!-- <div class="padding">
  <button class="button button-dark button-block icon-left ion-ios7-paper-outline" ng-click="modal.show()">
    Recite Example
  </button>
</div> -->

<div class="padding">
  <button class="button button-positive button-outline button-block icon-left ion-ios7-paper-outline" ng-click="modal.show()">
    Recite Example
  </button>
</div>