<div class="list list-inset">
  <div class="item item-divider">
    1. God is merciful
  </div>
  <div class="item item-text-wrap">
    God loves us and doesn't want to punish us
  </div>
  <div class="item item-text-wrap">
    ...God is love (1 John 4:8b NKJV)
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    2. God is just
  </div>
  <div class="item item-text-wrap">
    God is just and must punish sin
  </div>
  <div class="item item-text-wrap">
    He will by no means clear the guilty. (Exodus 34:7b NKJV)
  </div>
  <div class="item item-divider">
    Illustration: bank robber
  </div>
  <div class="item item-text-wrap">
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    Transition
  </div>
  <div class="item item-text-wrap">
    God solved this problem by sending Jesus Christ...
  </div>
</div>

<div class="button-bar padding">
  <button class="button button-full button-stable" ng-click="modal.show()">
    Recite Example
  </button>
</div>