<div class="list list-inset">
  <div class="item item-divider">Diagnostic Questions</div>
    <div class="item item-text-wrap">Have you come to a place in your spiritual life where you know for certain that if you were to die today you would go to heaven?</div>
    <div class="item item-text-wrap">These things I have written... that you may know you have eternal life. (1 John 5:13 NKJV)</div>
    <div class="item item-text-wrap">Suppose you were to die today and stand before God and He were to say to you, "Why should I let you into My heaven?" What would you say?</div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    1. Heaven is a free gift
  </div>
  <div class="item item-text-wrap">
    The gift of God is eternal life. (Romans 6:32 NKJV)
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    2. It cannot be earned or deserved
  </div>
  <div class="item item-text-wrap">
    For by grace you have been saved, through faith, and that not of yourselves, it is the gift of God, not of works, lest anyone should boast. (Ephesians 2:8-9 NKJV)
  </div>
  <div class="item item-divider">
    Illustration: free gift
  </div>
  <div class="item item-text-wrap illustration">
  </div>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    Transition
  </div>
  <div class="item item-text-wrap">
    Heaven must be a free gift because of the nature of man. The Bible tells us man is a sinner...
  </div>
</div>

<div class="recite-btn">
  <button class="button button-positive button-outline button-block icon-left ion-ios7-paper-outline col col-50 col-offset-25" ng-click="modal.show()">
    Recite Example
  </button>
</div>
