/* Empty. Add your own CSS if you like */
.bible-cards-pane {
  /*background-color: #2B3442 !important;*/
  background-color: #22282C !important;
}
.swipe-cards {
  position: fixed;
}

.swipe-card {
  display: none;
  position: fixed;
  -webkit-transform: scale(1,1);
  left: 50%;
  top: 50%;
  width: 300px;
  height: 250px;
  margin-left: -150px;
  margin-top: -125px;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
  padding: 20px;
  font-size:16px;
  line-height: 30px;
}

.swipe-card .content {
  height: 180px;
  font-size: 17px;
}
.swipe-card .button-bar .button {
  text-align:right;
}
.swipe-card .button {
  border: none;
}
.swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}


.recite-close-btn {
  font-size: 22px;
}

.recite-btn {
  padding-bottom: 10px;
}

.recite-example {
  text-align: justify;
  line-height: 22px;
}

.recite-example .title {
  text-align: center;
  margin-bottom: -10px;
}
.recite-example .list {
  margin-bottom: 0px;
}
.recite-example .item {
  border: none;
}